{% extends 'base.html.twig' %}

{% block main %}

    <div class="buttons">
        <ul class="rotateButtons">
            <li class="rotateButton"><a href="{{ path('upload_song') }}" class="round upload">Upload<span class="round">Share your song with us</span></a></li>
            <li class="rotateButton"><a href="{{ path('print_all_songs') }}" class="round catalog">Catalog<span class="round">Take a look.</span></a></li>
        </ul>
    </div>


{% endblock %}