{% extends 'base.html.twig' %}

{% block body_id 'catalog' %}

{% block main %}
    <style>
        .item.active{
            height: 523px;
        }
    </style>
    <h1 style="text-align: center">Error 404: song not found</h1>
{% endblock %}