{% extends 'base.html.twig' %}

{% block main %}
    <!--Login form-->
    <div id="id01" class="modal">

        <form class="modal-content animate" action="{{ path('security_login') }}" method="post" >
            <div class="imgcontainer">
                <span onclick="closeModalFunction()" class="close" title="Close Modal">&times;</span>
                <img src="{{ asset('pictures/remixLogo2.jpg') }}" alt="Avatar" class="avatar">
                <p class="formText">Login</p>
            </div>

            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="_username" required>

                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="_password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <button type="submit">Log In</button>
            </div>
        </form>
    </div>

    <div class="buttons">

        <ul class="rotateButtons">
            <li class="rotateButton"><a href="#" class="round login" onclick="document.getElementById('id01').style.display='block'">Login<span class="round">If you already have an account.</span></a></li>
            <li class="rotateButton"><a href="#" class="round register" onclick="document.getElementById('id02').style.display='block'">Register<span class="round">If you don't have an account. </span></a></li>
            <li class="rotateButton"><a href="#" class="round catalog">Catalog<span class="round">Take a look.</span></a></li>
        </ul>
    </div>

{% block javascripts %}
    <script>
        function closeModalFunction() {
            document.getElementById('id01').style.display='none';
            document.location.href="/";
        }
    </script>
    <script type="text/javascript">
        document.getElementById('id01').style.display='block';
    </script>
{% endblock %}

{% endblock %}
