{% extends 'base.html.twig' %}

{% block body_id 'catalog' %}

{% block main %}
    <style>
        .item.active{
            height: 513px;
        }
    </style>
    <h1 style="text-align: center">Error{{ error }}</h1>
{% endblock %}