/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 17px 0 12px 0;
    position: relative;
    height: 100px;
}

img.avatar {
    height: 89px;
    width: 115px;
    min-height: 0;
    border-radius: 50%;
}

.container {
    margin-top: -35px;
    padding: 5px;
    width: 80%;
}
.container label b{
    color: white;
}
.container button{
    margin: 11px 0;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #131212;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 43%; /* Could be more or less, depending on screen size */
    margin-top: -49px;
    height: 400px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
#id01, #id02, #id03{
    z-index: 2;
}
#id02 .modal-content{
    height: 540px
}
#id03 .modal-content{
    height: 475px
}
#id03 .modal-content .imgcontainer{
    height: 65px;
}
#id03 .modal-content .container{
    margin: 0 auto;
    width: 80%;

}
#id03 .modal-content .container button{
    margin: 0px;
}

#id03 .modal-content .container div:nth-child(1), #id03 .modal-content .container div:nth-child(3){
    height:45px;
}

#id03 .modal-content .container div input{
    color: #777;
}

#id02 .modal-content .container input{
    height: 34px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#id02 .modal-content .container button{
    height: 44px;
    background-color: #719934;
}
#id01 .modal-content{
    height: 325px;
}
#id01 .modal-content .container input, #id03 .modal-content .container input{
    height: 34px;
}
#id01 .modal-content .container button, #id03 .modal-content .container button{
    height: 44px;
    background-color: #719934;
}
.imgcontainer img{
    height: 42px;
    width: 61px;
}
.formText{
    font-family: Courier New;
    text-decoration: overline;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.container label {
    color: #FFF;
    margin: 0px;
}