{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content" id="listUsers">
        <div class="well">
            <h2>All Users</h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}

                        <tr>
                        <tr {% if user.isAdmin() %}class="info" {% endif %}>
                            <td>{{ user.id }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <a href="{{ path('admin_user_delete', {'id':user.id}) }}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
