
{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2" id="editCategories">
        <div class="well" id="editAdminForm">
            <form class="form-horizontal" action="{{ path('admin_categories_create') }}" method="POST" id="editForm">
                <fieldset>
                    <legend>New Category</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="song_category" id="labelName">Category Name</label>
                        <input type="text" class="form-control" id="song_category" placeholder="Category Name" name="category[name]" >
                    </div>

                    {{ form_row(form._token) }}
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{{ path('admin_categories') }}" class="btn btn-primary" id="cancelButton">Cancel</a>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}	 
