
{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2" id="deleteCategories">
        <div class="well" id="deleteAdminForm">
            <form class="form-horizontal" action="{{ path('admin_categories_delete', {'id': category.id}) }}" id="deleteForm" method="POST">
                <fieldset>
                    <legend>Delete Category</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="song_category" id="labelName">Category Name</label>
                        <input class="form-control" id="song_category" value="{{ category.name }}"  disabled>
                    </div>

                    {{ form_row(form._token) }}
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{{ path('admin_categories') }}" class="btn btn-primary" id="cancelButton">Cancel</a>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
